<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :UserId %>
    <%= form.text_field :UserId %>
  </div>

  <div class="field">
    <%= form.label :compagny_Name %>
    <%= form.text_field :compagny_Name %>
  </div>

  <div class="field">
    <%= form.label :compagny_headquarter_address %>
    <%= form.text_field :compagny_headquarter_address %>
  </div>

  <div class="field">
    <%= form.label :Full_Name_of_the_compagny_contact %>
    <%= form.text_field :Full_Name_of_the_compagny_contact %>
  </div>

  <div class="field">
    <%= form.label :compagny_contact_number %>
    <%= form.text_field :compagny_contact_number %>
  </div>

  <div class="field">
    <%= form.label :email_of_the_compagny_contact %>
    <%= form.text_field :email_of_the_compagny_contact %>
  </div>

  <div class="field">
    <%= form.label :compagny_description %>
    <%= form.text_field :compagny_description %>
  </div>

  <div class="field">
    <%= form.label :Full_name_of_the_technical_authority %>
    <%= form.text_field :Full_name_of_the_technical_authority %>
  </div>

  <div class="field">
    <%= form.label :technical_authority_phone_for_service %>
    <%= form.text_field :technical_authority_phone_for_service %>
  </div>

  <div class="field">
    <%= form.label :technical_manager_email_for_service %>
    <%= form.text_field :technical_manager_email_for_service %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
