<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @building.CustomerId %>
</p>

<p>
  <strong>Address of the building:</strong>
  <%= @building.address_of_the_building %>
</p>

<p>
  <strong>Full name of the building administrator:</strong>
  <%= @building.Full_name_of_the_building_administrator %>
</p>

<p>
  <strong>Phone number of the building administrator:</strong>
  <%= @building.phone_number_of_the_building_administrator %>
</p>

<p>
  <strong>Full name of the technical contact for the building:</strong>
  <%= @building.Full_name_of_the_technical_contact_for_the_building %>
</p>

<p>
  <strong>Technical contact email for the building:</strong>
  <%= @building.technical_contact_email_for_the_building %>
</p>

<p>
  <strong>Technical contact phone for the building:</strong>
  <%= @building.technical_contact_phone_for_the_building %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
