<%= form_with(model: battery, local: true) do |form| %>
  <% if battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(battery.errors.count, "error") %> prohibited this battery from being saved:</h2>

      <ul>
      <% battery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :buildingId %>
    <%= form.text_field :buildingId %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.text_field :Status %>
  </div>

  <div class="field">
    <%= form.label :EmployeeId %>
    <%= form.text_field :EmployeeId %>
  </div>

  <div class="field">
    <%= form.label :date_of_commissioning %>
    <%= form.text_field :date_of_commissioning %>
  </div>

  <div class="field">
    <%= form.label :date_of_last_inspection %>
    <%= form.text_field :date_of_last_inspection %>
  </div>

  <div class="field">
    <%= form.label :certificate_of_operations %>
    <%= form.text_field :certificate_of_operations %>
  </div>

  <div class="field">
    <%= form.label :information %>
    <%= form.text_field :information %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
