<p id="notice"><%= notice %></p>

<p>
  <strong>Buildingid:</strong>
  <%= @battery.buildingId %>
</p>

<p>
  <strong>Type:</strong>
  <%= @battery.Type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @battery.Status %>
</p>

<p>
  <strong>Employeeid:</strong>
  <%= @battery.EmployeeId %>
</p>

<p>
  <strong>Date of commissioning:</strong>
  <%= @battery.date_of_commissioning %>
</p>

<p>
  <strong>Date of last inspection:</strong>
  <%= @battery.date_of_last_inspection %>
</p>

<p>
  <strong>Certificate of operations:</strong>
  <%= @battery.certificate_of_operations %>
</p>

<p>
  <strong>Information:</strong>
  <%= @battery.information %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @battery.notes %>
</p>

<%= link_to 'Edit', edit_battery_path(@battery) %> |
<%= link_to 'Back', batteries_path %>
